# Aircraft Saftey Analysis


**Author:** Noah Meakins
***

# Overview

This in-depth analysis is intended to guide our company's foray into the commercial and private aviation sectors. By identifying historical safety risks and the most common causes of serious accidents, we aim to implement best practices and safety standards that surpass industry norms. This proactive approach to safety and risk analysis will be foundational in establishing our company as a responsible and trustworthy player in the aviation industry.

### Business Problem

My company is expanding into new industries to diversify its portfolio. Specifically, they are interested in purchasing and operating airplanes for commercial and private enterprises but do not know anything about the potential risks of aircraft. I have been tasked with determining which aircraft are the lowest risk for the company to start this new business endeavor. With the data I will gather from the attached dataset, I will provide insights that will assist the head of the new aviation division, which can then use those insights to help decide which aircraft to purchase. Some specific data I will be analyzing at a deeper level are Country, Location, Make, Model, Number of Engines, Engine Type, Weather Conditions, Injury Severity, and Aircraft Damage. Some questions I will be asking myself during this analysis are:

1. Out of the columns that might have missing data, what methods should I implement for columns that I will need in my analysis? 
2. What Charts will be beneficial in presenting a visual representation of my analysis? 
3. How will I determine the safest and most profitable aircraft to invest in? 

These questions are important from a business perspective because if the data in my analysis is skewed due to missing data or data that doesnâ€™t pertain to this analysis, it can negatively influence business decisions.  
***

### Data Understanding

- The data for this project was sourced from the National Transportation Safety Board and includes aviation accident data from 1962 to 2023 about civil aviation accidents and selected incidents in the United States and international waters. It's relevant to our analysis as we aim to understand various aircraft models and the levels of saftey associated with them. 

- The dataset consists of individual aircraft accidents, each record detailing the accident. It includes data from incidents in the United States and international waters. Key variables include Country, Location, Make, Model, Number of Engines, Engine Type, Weather Conditions, Injury Severity, and Aircraft Damage. 

- For this analysis, in line with our company's focus on safety and risk assessment, the primary target variable is 'total fatal injuries'. Analyzing this variable will help us assess the severity of accidents and understand the safety challenges inherent in the aviation industry, especially pertinent to commercial and private flight operations.

In [1]:
# Import standard packages
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
plt.style.use('ggplot')
pd.set_option('max_columns', 200) # I wanted to see all the columns in the dataset when printing the dataframe
%matplotlib inline

In [2]:
df = pd.read_csv('/Users/unit66/Downloads/AviationData.csv', encoding='latin-1', low_memory=False)

In [3]:
df.shape

(88889, 31)

In [4]:
df.columns

Index(['Event.Id', 'Investigation.Type', 'Accident.Number', 'Event.Date',
       'Location', 'Country', 'Latitude', 'Longitude', 'Airport.Code',
       'Airport.Name', 'Injury.Severity', 'Aircraft.damage',
       'Aircraft.Category', 'Registration.Number', 'Make', 'Model',
       'Amateur.Built', 'Number.of.Engines', 'Engine.Type', 'FAR.Description',
       'Schedule', 'Purpose.of.flight', 'Air.carrier', 'Total.Fatal.Injuries',
       'Total.Serious.Injuries', 'Total.Minor.Injuries', 'Total.Uninjured',
       'Weather.Condition', 'Broad.phase.of.flight', 'Report.Status',
       'Publication.Date'],
      dtype='object')

In [5]:
df.dtypes

Event.Id                   object
Investigation.Type         object
Accident.Number            object
Event.Date                 object
Location                   object
Country                    object
Latitude                   object
Longitude                  object
Airport.Code               object
Airport.Name               object
Injury.Severity            object
Aircraft.damage            object
Aircraft.Category          object
Registration.Number        object
Make                       object
Model                      object
Amateur.Built              object
Number.of.Engines         float64
Engine.Type                object
FAR.Description            object
Schedule                   object
Purpose.of.flight          object
Air.carrier                object
Total.Fatal.Injuries      float64
Total.Serious.Injuries    float64
Total.Minor.Injuries      float64
Total.Uninjured           float64
Weather.Condition          object
Broad.phase.of.flight      object
Report.Status              object
Publication.Date           object
dtype: object

In [6]:
df.describe()

,Number.of.Engines,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured
count,82805.000000,77488.000000,76379.000000,76956.000000,82977.000000
mean,1.146585,0.647855,0.279881,0.357061,5.325440
std,0.446510,5.485960,1.544084,2.235625,27.913634
min,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1.000000,0.000000,0.000000,0.000000,0.000000
50%,1.000000,0.000000,0.000000,0.000000,1.000000
75%,1.000000,0.000000,0.000000,0.000000,2.000000
max,8.000000,349.000000,161.000000,380.000000,699.000000

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 88889 entries, 0 to 88888
Data columns (total 31 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Event.Id                88889 non-null  object
 1   Investigation.Type      88889 non-null  object
 2   Accident.Number         88889 non-null  object
 3   Event.Date              88889 non-null  object
 4   Location                88837 non-null  object
 5   Country                 88663 non-null  object
 6   Latitude                34382 non-null  object
 7   Longitude               34373 non-null  object
 8   Airport.Code            50249 non-null  object
 9   Airport.Name            52790 non-null  object
 10  Injury.Severity         87889 non-null  object
 11  Aircraft.damage         85695 non-null  object
 12  Aircraft.Category       32287 non-null  object
 13  Registration.Number     87572 non-null  object
 14  Make                    88826 non-null  object
 15  Model                   88797 non-null  object
 16  Amateur.Built           88787 non-null  object
 17  Number.of.Engines       82805 non-null  float64
 18  Engine.Type             81812 non-null  object
 19  FAR.Description         32023 non-null  object
 20  Schedule                12582 non-null  object
 21  Purpose.of.flight       82697 non-null  object
 22  Air.carrier             16648 non-null  object
 23  Total.Fatal.Injuries    77488 non-null  float64
 24  Total.Serious.Injuries  76379 non-null  float64
 25  Total.Minor.Injuries    76956 non-null  float64
 26  Total.Uninjured         82977 non-null  float64
 27  Weather.Condition       84397 non-null  object
 28  Broad.phase.of.flight   61724 non-null  object
 29  Report.Status           82508 non-null  object
 30  Publication.Date        75118 non-null  object
dtypes: float64(5), object(26)
memory usage: 21.0+ MB

### Aviation Data 
The Aviation dataset consists of records from 1962 to 2023, and contains a large amount of information on Event Date, Location, Aircraft Damage, Injury Severity, and Total Fatal Injuries.

In [8]:
df.head()

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Latitude,Longitude,Airport.Code,Airport.Name,Injury.Severity,Aircraft.damage,Aircraft.Category,Registration.Number,Make,Model,Amateur.Built,Number.of.Engines,Engine.Type,FAR.Description,Schedule,Purpose.of.flight,Air.carrier,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Report.Status,Publication.Date
0,20001218X45444,Accident,SEA87LA080,1948-10-24,"MOOSE CREEK, ID",United States,NaN,NaN,NaN,NaN,Fatal(2),Destroyed,NaN,NC6404,Stinson,108-3,No,1.0,Reciprocating,NaN,NaN,Personal,NaN,2.0,0.0,0.0,0.0,UNK,Cruise,Probable Cause,NaN
1,20001218X45447,Accident,LAX94LA336,1962-07-19,"BRIDGEPORT, CA",United States,NaN,NaN,NaN,NaN,Fatal(4),Destroyed,NaN,N5069P,Piper,PA24-180,No,1.0,Reciprocating,NaN,NaN,Personal,NaN,4.0,0.0,0.0,0.0,UNK,Unknown,Probable Cause,19-09-1996
2,20061025X01555,Accident,NYC07LA005,1974-08-30,"Saltville, VA",United States,36.922223,-81.878056,NaN,NaN,Fatal(3),Destroyed,NaN,N5142R,Cessna,172M,No,1.0,Reciprocating,NaN,NaN,Personal,NaN,3.0,NaN,NaN,NaN,IMC,Cruise,Probable Cause,26-02-2007
3,20001218X45448,Accident,LAX96LA321,1977-06-19,"EUREKA, CA",United States,NaN,NaN,NaN,NaN,Fatal(2),Destroyed,NaN,N1168J,Rockwell,112,No,1.0,Reciprocating,NaN,NaN,Personal,NaN,2.0,0.0,0.0,0.0,IMC,Cruise,Probable Cause,12-09-2000
4,20041105X01764,Accident,CHI79FA064,1979-08-02,"Canton, OH",United States,NaN,NaN,NaN,NaN,Fatal(1),Destroyed,NaN,N15NY,Cessna,501,No,NaN,NaN,NaN,NaN,Personal,NaN,1.0,2.0,NaN,0.0,VMC,Approach,Probable Cause,16-04-1980

## Data Preparation

In preparation for this analysis, I will simplify our tasks by normalizing the column names and dropping anything we wont need. This will make things a bit easier to analyze.

In [9]:
# Subsetting the data to only include the columns I want to work with and making a copy of the dataframe
df = df[[#'Event.Id', 
       'Investigation.Type', 
       # 'Accident.Number', 
       'Event.Date',
       'Location', 'Country', 
       # 'Latitude', 'Longitude', 'Airport.Code',
       # 'Airport.Name', 
       'Injury.Severity', 'Aircraft.damage',
       'Aircraft.Category', 
       # 'Registration.Number', 
       'Make', 'Model',
       'Amateur.Built', 'Number.of.Engines', 'Engine.Type', 
       # 'FAR.Description',
       # 'Schedule', 
       'Purpose.of.flight', 
       # 'Air.carrier', 
       'Total.Fatal.Injuries',
       'Total.Serious.Injuries', 'Total.Minor.Injuries', 'Total.Uninjured',
       'Weather.Condition', 'Broad.phase.of.flight', 
       # 'Report.Status',
       #'Publication.Date'
       ]].copy()

In [14]:
df['Event.Date'] = pd.to_datetime(df['Event.Date'])

In [17]:
df.dtypes

Investigation.Type                object
Event.Date                datetime64[ns]
Location                          object
Country                           object
Injury.Severity                   object
Aircraft.damage                   object
Aircraft.Category                 object
Make                              object
Model                             object
Amateur.Built                     object
Number.of.Engines                float64
Engine.Type                       object
Purpose.of.flight                 object
Total.Fatal.Injuries             float64
Total.Serious.Injuries           float64
Total.Minor.Injuries             float64
Total.Uninjured                  float64
Weather.Condition                 object
Broad.phase.of.flight             object
dtype: object

['latitude', 'longitude', 'far_description', 'schedule', 'air_carrier', 'airport_code', 'airport_name', 'event_id', 'accident_number', 'registration_number', 'report_status', 'publication_date']

In [27]:
# Creating a function that take the column names and return a normalized version of it
def normalize_column_name(name):
    return name.strip().lower().replace(' ', '_').replace('.','_').replace('-','_')

In [28]:
# List comprehension to apply the function to all the column names
df.columns = [normalize_column_name(col) for col in df.columns]

In [29]:
# Verifying that the column names have been normalized
df.head()

,investigation_type,event_date,location,country,injury_severity,aircraft_damage,aircraft_category,make,model,amateur_built,number_of_engines,engine_type,purpose_of_flight,total_fatal_injuries,total_serious_injuries,total_minor_injuries,total_uninjured,weather_condition,broad_phase_of_flight
0,Accident,1948-10-24,"MOOSE CREEK, ID",United States,Fatal(2),Destroyed,NaN,Stinson,108-3,No,1.0,Reciprocating,Personal,2.0,0.0,0.0,0.0,UNK,Cruise
1,Accident,1962-07-19,"BRIDGEPORT, CA",United States,Fatal(4),Destroyed,NaN,Piper,PA24-180,No,1.0,Reciprocating,Personal,4.0,0.0,0.0,0.0,UNK,Unknown
2,Accident,1974-08-30,"Saltville, VA",United States,Fatal(3),Destroyed,NaN,Cessna,172M,No,1.0,Reciprocating,Personal,3.0,NaN,NaN,NaN,IMC,Cruise
3,Accident,1977-06-19,"EUREKA, CA",United States,Fatal(2),Destroyed,NaN,Rockwell,112,No,1.0,Reciprocating,Personal,2.0,0.0,0.0,0.0,IMC,Cruise
4,Accident,1979-08-02,"Canton, OH",United States,Fatal(1),Destroyed,NaN,Cessna,501,No,NaN,NaN,Personal,1.0,2.0,NaN,0.0,VMC,Approach

In [30]:
df.isna().sum()

investigation_type            0
event_date                    0
location                     52
country                     226
injury_severity            1000
aircraft_damage            3194
aircraft_category         56602
make                         63
model                        92
amateur_built               102
number_of_engines          6084
engine_type                7077
purpose_of_flight          6192
total_fatal_injuries      11401
total_serious_injuries    12510
total_minor_injuries      11933
total_uninjured            5912
weather_condition          4492
broad_phase_of_flight     27165
dtype: int64

In [32]:
df.loc[df.duplicated()]

,investigation_type,event_date,location,country,injury_severity,aircraft_damage,aircraft_category,make,model,amateur_built,number_of_engines,engine_type,purpose_of_flight,total_fatal_injuries,total_serious_injuries,total_minor_injuries,total_uninjured,weather_condition,broad_phase_of_flight
1371,Accident,1982-05-28,"EVANSVILLE, IN",United States,Non-Fatal,Substantial,Airplane,Cessna,172,No,1.0,Reciprocating,Personal,0.0,0.0,0.0,7.0,VMC,Cruise
3082,Accident,1982-10-18,GULF OF MEXICO,GULF OF MEXICO,Fatal(3),Destroyed,Helicopter,Bell,206B,Yes,1.0,Turbo Shaft,Unknown,3.0,0.0,0.0,0.0,VMC,Cruise
4761,Accident,1983-05-22,"BRIDGEPORT, CA",United States,Fatal(1),Substantial,NaN,Schempp-hirth,STANDARD CIRRUS,No,NaN,Unknown,Unknown,1.0,0.0,0.0,1.0,VMC,Cruise
7941,Accident,1984-04-13,"DELAND, FL",United States,Non-Fatal,Substantial,NaN,Cessna,172P,No,1.0,Reciprocating,Instructional,0.0,0.0,0.0,2.0,VMC,Taxi
8661,Accident,1984-06-18,"PORTLAND, AR",United States,Non-Fatal,Substantial,NaN,Snow,AT400,No,1.0,Turbo Prop,Aerial Application,0.0,0.0,0.0,2.0,VMC,Landing
13532,Accident,1985-11-30,"SAN PEDRO, CA",United States,Fatal(1),Destroyed,NaN,Bell,206L-1,No,1.0,Turbo Shaft,Unknown,1.0,4.0,7.0,0.0,VMC,Approach
19820,Incident,1988-03-10,"GREENSBORO, NC",United States,Incident,NaN,NaN,Boeing,737,No,2.0,Turbo Fan,Unknown,0.0,0.0,0.0,159.0,VMC,Maneuvering
21077,Incident,1988-08-05,"ATLANTA, GA",United States,Incident,Minor,NaN,Douglas,DC-9-51,No,2.0,Turbo Fan,Unknown,0.0,0.0,0.0,199.0,UNK,Taxi
22453,Incident,1989-03-01,"HOUSTON, TX",United States,Incident,NaN,NaN,Mcdonnell Douglas,DC-9-82,No,2.0,Turbo Fan,Unknown,0.0,0.0,0.0,185.0,IMC,Approach
24878,Accident,1990-02-09,"TETERBORO, NJ",United States,Non-Fatal,Substantial,NaN,Mitsubishi,MU-2B-35,No,2.0,Turbo Prop,Unknown,0.0,0.0,0.0,2.0,VMC,Taxi
26868,Accident,1990-10-20,"KENT, OH",United States,Non-Fatal,Substantial,NaN,Cessna,152,No,1.0,Reciprocating,Instructional,0.0,0.0,0.0,2.0,VMC,Approach
27496,Accident,1991-03-02,"MARANA, AZ",United States,Non-Fatal,Substantial,NaN,Boeing,A75,No,1.0,Reciprocating,Other Work Use,0.0,0.0,0.0,3.0,VMC,Maneuvering
27811,Accident,1991-04-19,"SANTA ROSA, NM",United States,Non-Fatal,Substantial,NaN,Ercoupe (eng & Research Corp.),415-C,Yes,1.0,Reciprocating,Personal,0.0,0.0,1.0,1.0,VMC,Climb
28706,Accident,1991-07-31,"SILICA, KS",United States,Fatal(2),Destroyed,NaN,Aero Commander,500B,No,2.0,Reciprocating,Unknown,2.0,0.0,0.0,0.0,VMC,Maneuvering
30247,Accident,1992-04-23,"BRANSON, MO",United States,Non-Fatal,Substantial,NaN,Cessna,152,No,1.0,Reciprocating,Personal,0.0,1.0,1.0,2.0,VMC,Cruise
31502,Accident,1992-09-21,"ORLANDO, FL",United States,Non-Fatal,Substantial,NaN,Cessna,210L,No,1.0,Reciprocating,Unknown,0.0,0.0,0.0,1.0,VMC,Approach
34847,Accident,1994-04-10,"OKEECHOBEE, FL",United States,Non-Fatal,Substantial,NaN,Globe,9C-1B,No,1.0,Reciprocating,Unknown,0.0,0.0,0.0,2.0,VMC,Maneuvering
35076,Accident,1994-05-19,"STOCKTON, CA",United States,Non-Fatal,Substantial,NaN,Robinson,R22-B,No,1.0,Reciprocating,Other Work Use,0.0,0.0,1.0,1.0,VMC,Standing
38187,Accident,1995-08-27,"FORT COLLINS, CO",United States,Non-Fatal,Substantial,NaN,Piper,PA-28-181,No,1.0,Reciprocating,Personal,0.0,0.0,0.0,1.0,VMC,Landing
39138,Accident,1996-02-24,"Havana, Cuba",Cuba,Fatal(4),Destroyed,Airplane,Cessna,337,No,NaN,Unknown,Other Work Use,4.0,NaN,NaN,NaN,VMC,NaN
43728,Accident,1998-04-19,"KISSIMMEE, FL",United States,Fatal(2),Destroyed,NaN,Boeing,A-75N1,No,1.0,Reciprocating,Unknown,2.0,0.0,0.0,0.0,VMC,Maneuvering
45738,Accident,1999-03-10,"BATTLE CREEK, MI",United States,Non-Fatal,Substantial,NaN,Cessna,172R,No,1.0,Reciprocating,Instructional,0.0,0.0,0.0,1.0,VMC,Landing
48463,Accident,2000-05-27,"BUNNELL, FL",United States,Fatal(2),Destroyed,NaN,Avions Mudry Et Cie,CAP 10B,No,1.0,Reciprocating,Unknown,2.0,0.0,0.0,0.0,VMC,Maneuvering
51386,Accident,2001-08-27,"Hopland, CA",United States,Fatal(2),Destroyed,NaN,Grumman,TS-2A,No,2.0,Reciprocating,Public Aircraft,2.0,NaN,NaN,NaN,VMC,Maneuvering
57380,Accident,2004-08-28,"Prescott, AZ",United States,Fatal(2),Destroyed,NaN,American Champion (acac),8KCAB,No,1.0,Reciprocating,Personal,2.0,NaN,NaN,NaN,VMC,Maneuvering
58650,Incident,2005-05-17,"Denver, CO",United States,Incident,Minor,NaN,Boeing,737-322,No,2.0,Turbo Fan,NaN,NaN,NaN,NaN,187.0,VMC,Taxi
62369,Accident,2007-04-21,"VAN HORN, TX",United States,Non-Fatal,Substantial,NaN,Robinson,R22 Beta,No,1.0,Reciprocating,Instructional,NaN,NaN,NaN,4.0,VMC,Standing
63043,Accident,2007-07-27,"Phoenix, AZ",United States,Fatal(4),Destroyed,Helicopter,Eurocopter,AS350-B2,No,1.0,Turbo Shaft,Other Work Use,4.0,NaN,NaN,NaN,VMC,Maneuvering
63296,Accident,2007-09-02,"FARMINGDALE, NY",United States,Non-Fatal,Substantial,NaN,North American,SNJ-2,No,1.0,Reciprocating,Other Work Use,NaN,NaN,NaN,2.0,VMC,Taxi
66669,Accident,2009-07-02,"Grand Forks, ND",United States,Non-Fatal,Substantial,Airplane,CESSNA,172S,No,1.0,Reciprocating,Instructional,0.0,0.0,0.0,1.0,VMC,NaN
71016,Accident,2011-10-30,"Grangeville, ID",United States,Non-Fatal,Substantial,Airplane,PIPER,PA-18-150,No,1.0,Reciprocating,Personal,0.0,0.0,0.0,1.0,VMC,NaN
77987,Incident,2016-03-20,"Cusco, Peru",Peru,NaN,Minor,Airplane,BOEING,737,No,NaN,NaN,NaN,0.0,0.0,0.0,0.0,NaN,NaN
87645,Accident,2022-04-06,"Waterville, ME",United States,Non-Fatal,Substantial,Airplane,CESSNA,172RG,No,1.0,Reciprocating,Instructional,0.0,0.0,0.0,1.0,VMC,NaN
88387,Accident,2022-08-20,"Bealeton, VA",United States,Minor,Substantial,Airplane,BOEING,A75N1,No,1.0,NaN,Business,0.0,2.0,0.0,2.0,VMC,NaN
88528,Incident,2022-09-14,"Mumbai,",India,NaN,NaN,Airplane,BOEING,787,No,NaN,NaN,NaN,0.0,0.0,0.0,0.0,NaN,NaN

In [33]:
# Dropping duplicated rows from the dataframe
df = df.drop_duplicates()

# Resetting the index of the dataframe
df.reset_index(drop=True, inplace=True)

In [35]:
# Verifying that the duplicated rows have been dropped
df.loc[df.duplicated()]

Empty DataFrame
Columns: [investigation_type, event_date, location, country, injury_severity, aircraft_damage, aircraft_category, make, model, amateur_built, number_of_engines, engine_type, purpose_of_flight, total_fatal_injuries, total_serious_injuries, total_minor_injuries, total_uninjured, weather_condition, broad_phase_of_flight]
Index: []

In [37]:
# Filtering out any rows that contain aircraft that are amateur built
df = df[df['amateur_built'] != 'Yes']

In [40]:
df.head(20)

,investigation_type,event_date,location,country,injury_severity,aircraft_damage,aircraft_category,make,model,amateur_built,number_of_engines,engine_type,purpose_of_flight,total_fatal_injuries,total_serious_injuries,total_minor_injuries,total_uninjured,weather_condition,broad_phase_of_flight
0,Accident,1948-10-24,"MOOSE CREEK, ID",United States,Fatal(2),Destroyed,NaN,Stinson,108-3,No,1.0,Reciprocating,Personal,2.0,0.0,0.0,0.0,UNK,Cruise
1,Accident,1962-07-19,"BRIDGEPORT, CA",United States,Fatal(4),Destroyed,NaN,Piper,PA24-180,No,1.0,Reciprocating,Personal,4.0,0.0,0.0,0.0,UNK,Unknown
2,Accident,1974-08-30,"Saltville, VA",United States,Fatal(3),Destroyed,NaN,Cessna,172M,No,1.0,Reciprocating,Personal,3.0,NaN,NaN,NaN,IMC,Cruise
3,Accident,1977-06-19,"EUREKA, CA",United States,Fatal(2),Destroyed,NaN,Rockwell,112,No,1.0,Reciprocating,Personal,2.0,0.0,0.0,0.0,IMC,Cruise
4,Accident,1979-08-02,"Canton, OH",United States,Fatal(1),Destroyed,NaN,Cessna,501,No,NaN,NaN,Personal,1.0,2.0,NaN,0.0,VMC,Approach
5,Accident,1979-09-17,"BOSTON, MA",United States,Non-Fatal,Substantial,Airplane,Mcdonnell Douglas,DC9,No,2.0,Turbo Fan,NaN,NaN,NaN,1.0,44.0,VMC,Climb
6,Accident,1981-08-01,"COTTON, MN",United States,Fatal(4),Destroyed,NaN,Cessna,180,No,1.0,Reciprocating,Personal,4.0,0.0,0.0,0.0,IMC,Unknown
7,Accident,1982-01-01,"PULLMAN, WA",United States,Non-Fatal,Substantial,Airplane,Cessna,140,No,1.0,Reciprocating,Personal,0.0,0.0,0.0,2.0,VMC,Takeoff
8,Accident,1982-01-01,"EAST HANOVER, NJ",United States,Non-Fatal,Substantial,Airplane,Cessna,401B,No,2.0,Reciprocating,Business,0.0,0.0,0.0,2.0,IMC,Landing
9,Accident,1982-01-01,"JACKSONVILLE, FL",United States,Non-Fatal,Substantial,NaN,North American,NAVION L-17B,No,1.0,Reciprocating,Personal,0.0,0.0,3.0,0.0,IMC,Cruise
10,Accident,1982-01-01,"HOBBS, NM",United States,Non-Fatal,Substantial,NaN,Piper,PA-28-161,No,1.0,Reciprocating,Personal,0.0,0.0,0.0,1.0,VMC,Approach
11,Accident,1982-01-01,"TUSKEGEE, AL",United States,Non-Fatal,Substantial,NaN,Beech,V35B,No,1.0,Reciprocating,Personal,0.0,0.0,0.0,1.0,VMC,Landing
12,Accident,1982-01-02,"HOMER, LA",United States,Non-Fatal,Destroyed,Airplane,Bellanca,17-30A,No,1.0,Reciprocating,Personal,0.0,0.0,1.0,0.0,IMC,Cruise
13,Accident,1982-01-02,"HEARNE, TX",United States,Fatal(1),Destroyed,Airplane,Cessna,R172K,No,1.0,Reciprocating,Personal,1.0,0.0,0.0,0.0,IMC,Takeoff
14,Accident,1982-01-02,"CHICKASHA, OK",United States,Fatal(1),Destroyed,Airplane,Navion,A,No,1.0,Reciprocating,Personal,1.0,0.0,0.0,0.0,IMC,Cruise
15,Accident,1982-01-02,"LITTLE ROCK, AR",United States,Fatal(2),Destroyed,Airplane,Beech,19,No,1.0,Reciprocating,Personal,2.0,0.0,0.0,0.0,IMC,Cruise
16,Accident,1982-01-02,"MIDWAY, UT",United States,Non-Fatal,Destroyed,Helicopter,Enstrom,280C,No,1.0,Reciprocating,Personal,0.0,0.0,0.0,1.0,IMC,Taxi
17,Accident,1982-01-02,"SKWENTA, AK",United States,Fatal(3),Destroyed,Airplane,Cessna,180,No,1.0,Reciprocating,Personal,3.0,0.0,0.0,0.0,VMC,Unknown
18,Accident,1982-01-02,"GALETON, PA",United States,Non-Fatal,Substantial,Airplane,Cessna,172,No,1.0,Reciprocating,Personal,0.0,0.0,0.0,1.0,VMC,Taxi
19,Accident,1982-01-02,"MIAMI, FL",United States,Non-Fatal,Substantial,Helicopter,Smith,WCS-222 (BELL 47G),No,1.0,Reciprocating,Personal,0.0,0.0,0.0,2.0,VMC,Cruise

In [39]:
# List of columns to check for missing data
columns_to_check = ['location', 'country', 'make', 'model', 'amateur_built']

# Drop rows where any of the specified columns have missing data
df = df.dropna(subset=columns_to_check)

# Resetting the index after dropping rows
df.reset_index(drop=True, inplace=True)

In [44]:
# Replace 'Unavailable' with NaN first, to unify the missing data representation
df['injury_severity'] = df['injury_severity'].replace('Unavailable', pd.NA)

# Now replace all NaN values with 'Unknown'
df['injury_severity'] = df['injury_severity'].fillna('Unknown')

In [45]:
# Replacing all NaN values with 'Unknown' for aircraft_damage
df['aircraft_damage'] = df['aircraft_damage'].fillna('Unknown')

In [46]:
# Looking into the rows that have a value of 0.0 in the 'number_of_engines' column
df[df['number_of_engines'] == 0.0].head()

,investigation_type,event_date,location,country,injury_severity,aircraft_damage,aircraft_category,make,model,amateur_built,number_of_engines,engine_type,purpose_of_flight,total_fatal_injuries,total_serious_injuries,total_minor_injuries,total_uninjured,weather_condition,broad_phase_of_flight
60,Accident,1982-01-09,"CALISTOGA, CA",United States,Non-Fatal,Substantial,Glider,Schleicher,ASW 20,No,0.0,Unknown,Personal,0.0,0.0,0.0,1.0,VMC,Landing
235,Accident,1982-02-06,"GLENDALE, AZ",United States,Non-Fatal,Substantial,Balloon,Raven,S-55A,No,0.0,Unknown,Personal,0.0,0.0,0.0,2.0,VMC,Landing
339,Accident,1982-02-19,"PHOENIX, AZ",United States,Non-Fatal,Substantial,Balloon,Balloon Works,FIREFLY,No,0.0,Unknown,Personal,0.0,0.0,0.0,3.0,VMC,Landing
415,Accident,1982-02-27,"CINCINNATI, OH",United States,Non-Fatal,Substantial,Balloon,Barnes,FIREFLY-7,No,0.0,Unknown,Personal,0.0,1.0,1.0,2.0,VMC,Takeoff
418,Accident,1982-02-28,"NAPA, CA",United States,Non-Fatal,Destroyed,Balloon,Barnes,BALLOON AX7,No,0.0,Unknown,Unknown,0.0,0.0,1.0,4.0,VMC,Landing

In [47]:
# Filtering out 'number_of_engines' that have a value of 0.0
df = df[df['number_of_engines'] != 0.0]

# Resetting the index after dropping rows
df.reset_index(drop=True, inplace=True)

In [49]:
# Assiging 'Unknown' value to the nan values in the 'number_of_engines' column
df['number_of_engines'] = df['number_of_engines'].fillna('Unknown')

In [53]:
# Removing rows with an 'engine_type' of 'None'
df = df[df['engine_type'] != 'None']

# Making sure to reset the index after dropping rows
df.reset_index(drop=True, inplace=True)

In [56]:
df['engine_type'].value_counts()

Reciprocating      61513
Turbo Shaft         3489
Turbo Prop          3300
Turbo Fan           2451
Unknown             1235
Turbo Jet            688
Geared Turbofan       12
Electric              10
LR                     2
Hybrid Rocket          1
UNK                    1
Name: engine_type, dtype: int64

In [57]:
# Change NaN in 'engine_type' to 'Unknown' only where 'number_of_engines' is 'Unknown'
df.loc[(df['number_of_engines'] == 'Unknown') & (df['engine_type'].isna()), 'engine_type'] = 'Unknown'

In [58]:
df['aircraft_category'].value_counts()

Airplane             24368
Helicopter            3287
Glider                 146
Weight-Shift           139
Powered Parachute       83
Balloon                 71
Gyrocraft               32
Ultralight              18
Unknown                 11
WSFT                     9
Powered-Lift             5
Blimp                    4
UNK                      2
Rocket                   1
Name: aircraft_category, dtype: int64

In [59]:
#Keeping only the rows that have a value of 'Airplane' and 'Helicopter' in the 'aircraft_category' column
relevant_categories = ['Airplane', 'Helicopter']
df = df[df['aircraft_category'].isin(relevant_categories)]

# Resetting the index after dropping rows
df.reset_index(drop=True, inplace=True)

In [61]:
# Combining country and location columns into one column
df['combined_location'] = df['location'] + ', ' + df['country']

df.head()

,investigation_type,event_date,location,country,injury_severity,aircraft_damage,aircraft_category,make,model,amateur_built,number_of_engines,engine_type,purpose_of_flight,total_fatal_injuries,total_serious_injuries,total_minor_injuries,total_uninjured,weather_condition,broad_phase_of_flight,combined_location
0,Accident,1979-09-17,"BOSTON, MA",United States,Non-Fatal,Substantial,Airplane,Mcdonnell Douglas,DC9,No,2,Turbo Fan,NaN,NaN,NaN,1.0,44.0,VMC,Climb,"BOSTON, MA, United States"
1,Accident,1982-01-01,"PULLMAN, WA",United States,Non-Fatal,Substantial,Airplane,Cessna,140,No,1,Reciprocating,Personal,0.0,0.0,0.0,2.0,VMC,Takeoff,"PULLMAN, WA, United States"
2,Accident,1982-01-01,"EAST HANOVER, NJ",United States,Non-Fatal,Substantial,Airplane,Cessna,401B,No,2,Reciprocating,Business,0.0,0.0,0.0,2.0,IMC,Landing,"EAST HANOVER, NJ, United States"
3,Accident,1982-01-02,"HOMER, LA",United States,Non-Fatal,Destroyed,Airplane,Bellanca,17-30A,No,1,Reciprocating,Personal,0.0,0.0,1.0,0.0,IMC,Cruise,"HOMER, LA, United States"
4,Accident,1982-01-02,"HEARNE, TX",United States,Fatal(1),Destroyed,Airplane,Cessna,R172K,No,1,Reciprocating,Personal,1.0,0.0,0.0,0.0,IMC,Takeoff,"HEARNE, TX, United States"

In [62]:
# reordering the columns alphabetically
df = df[df.columns.sort_values()]

df.head()

,aircraft_category,aircraft_damage,amateur_built,broad_phase_of_flight,combined_location,country,engine_type,event_date,injury_severity,investigation_type,location,make,model,number_of_engines,purpose_of_flight,total_fatal_injuries,total_minor_injuries,total_serious_injuries,total_uninjured,weather_condition
0,Airplane,Substantial,No,Climb,"BOSTON, MA, United States",United States,Turbo Fan,1979-09-17,Non-Fatal,Accident,"BOSTON, MA",Mcdonnell Douglas,DC9,2,NaN,NaN,1.0,NaN,44.0,VMC
1,Airplane,Substantial,No,Takeoff,"PULLMAN, WA, United States",United States,Reciprocating,1982-01-01,Non-Fatal,Accident,"PULLMAN, WA",Cessna,140,1,Personal,0.0,0.0,0.0,2.0,VMC
2,Airplane,Substantial,No,Landing,"EAST HANOVER, NJ, United States",United States,Reciprocating,1982-01-01,Non-Fatal,Accident,"EAST HANOVER, NJ",Cessna,401B,2,Business,0.0,0.0,0.0,2.0,IMC
3,Airplane,Destroyed,No,Cruise,"HOMER, LA, United States",United States,Reciprocating,1982-01-02,Non-Fatal,Accident,"HOMER, LA",Bellanca,17-30A,1,Personal,0.0,1.0,0.0,0.0,IMC
4,Airplane,Destroyed,No,Takeoff,"HEARNE, TX, United States",United States,Reciprocating,1982-01-02,Fatal(1),Accident,"HEARNE, TX",Cessna,R172K,1,Personal,1.0,0.0,0.0,0.0,IMC

In [63]:
# Re-checking how much data is missing in each column as a percentage
missing_percent = df.isnull().sum() / len(df) * 100
print(missing_percent)

aircraft_category          0.000000
aircraft_damage            0.000000
amateur_built              0.000000
broad_phase_of_flight     76.709456
combined_location          0.000000
country                    0.000000
engine_type                7.944314
event_date                 0.000000
injury_severity            0.000000
investigation_type         0.000000
location                   0.000000
make                       0.000000
model                      0.000000
number_of_engines          0.000000
purpose_of_flight         15.704213
total_fatal_injuries      11.242090
total_minor_injuries      10.309167
total_serious_injuries    11.495209
total_uninjured            3.004882
weather_condition         12.731875
dtype: float64

In [64]:

# Checking the percentage of 'Unknown' values in each column
percent_unknown = df.apply(lambda col: (col == 'Unknown').sum() / len(col) * 100)

# Display the percentage of 'Unknown' values for each column
print(percent_unknown)

aircraft_category          0.000000
aircraft_damage            5.221479
amateur_built              0.000000
broad_phase_of_flight      0.202495
combined_location          0.000000
country                    0.007232
engine_type                9.217140
event_date                 0.000000
injury_severity            3.225457
investigation_type         0.000000
location                   0.000000
make                       0.003616
model                      0.000000
number_of_engines         11.043211
purpose_of_flight          3.767854
total_fatal_injuries       0.000000
total_minor_injuries       0.000000
total_serious_injuries     0.000000
total_uninjured            0.000000
weather_condition          0.000000
dtype: float64

In [65]:
# Combine 'make' and 'model' columns into one column
df['make_model'] = df['make'] + ' ' + df['model']

# Verify that the 'make_model' column was created
df.head()

,aircraft_category,aircraft_damage,amateur_built,broad_phase_of_flight,combined_location,country,engine_type,event_date,injury_severity,investigation_type,location,make,model,number_of_engines,purpose_of_flight,total_fatal_injuries,total_minor_injuries,total_serious_injuries,total_uninjured,weather_condition,make_model
0,Airplane,Substantial,No,Climb,"BOSTON, MA, United States",United States,Turbo Fan,1979-09-17,Non-Fatal,Accident,"BOSTON, MA",Mcdonnell Douglas,DC9,2,NaN,NaN,1.0,NaN,44.0,VMC,Mcdonnell Douglas DC9
1,Airplane,Substantial,No,Takeoff,"PULLMAN, WA, United States",United States,Reciprocating,1982-01-01,Non-Fatal,Accident,"PULLMAN, WA",Cessna,140,1,Personal,0.0,0.0,0.0,2.0,VMC,Cessna 140
2,Airplane,Substantial,No,Landing,"EAST HANOVER, NJ, United States",United States,Reciprocating,1982-01-01,Non-Fatal,Accident,"EAST HANOVER, NJ",Cessna,401B,2,Business,0.0,0.0,0.0,2.0,IMC,Cessna 401B
3,Airplane,Destroyed,No,Cruise,"HOMER, LA, United States",United States,Reciprocating,1982-01-02,Non-Fatal,Accident,"HOMER, LA",Bellanca,17-30A,1,Personal,0.0,1.0,0.0,0.0,IMC,Bellanca 17-30A
4,Airplane,Destroyed,No,Takeoff,"HEARNE, TX, United States",United States,Reciprocating,1982-01-02,Fatal(1),Accident,"HEARNE, TX",Cessna,R172K,1,Personal,1.0,0.0,0.0,0.0,IMC,Cessna R172K

In [66]:
# Capitalize all the values in the 'make_model' column
df['make_model'] = df['make_model'].str.upper()

In [67]:
# Dropping the no longer needed 'make' and 'model' columns
df.drop(columns = ['make', 'model'], inplace = True)

In [68]:
# Making sure my columns are still sorted correctly
df = df[df.columns.sort_values()]

df.head(5)

,aircraft_category,aircraft_damage,amateur_built,broad_phase_of_flight,combined_location,country,engine_type,event_date,injury_severity,investigation_type,location,make_model,number_of_engines,purpose_of_flight,total_fatal_injuries,total_minor_injuries,total_serious_injuries,total_uninjured,weather_condition
0,Airplane,Substantial,No,Climb,"BOSTON, MA, United States",United States,Turbo Fan,1979-09-17,Non-Fatal,Accident,"BOSTON, MA",MCDONNELL DOUGLAS DC9,2,NaN,NaN,1.0,NaN,44.0,VMC
1,Airplane,Substantial,No,Takeoff,"PULLMAN, WA, United States",United States,Reciprocating,1982-01-01,Non-Fatal,Accident,"PULLMAN, WA",CESSNA 140,1,Personal,0.0,0.0,0.0,2.0,VMC
2,Airplane,Substantial,No,Landing,"EAST HANOVER, NJ, United States",United States,Reciprocating,1982-01-01,Non-Fatal,Accident,"EAST HANOVER, NJ",CESSNA 401B,2,Business,0.0,0.0,0.0,2.0,IMC
3,Airplane,Destroyed,No,Cruise,"HOMER, LA, United States",United States,Reciprocating,1982-01-02,Non-Fatal,Accident,"HOMER, LA",BELLANCA 17-30A,1,Personal,0.0,1.0,0.0,0.0,IMC
4,Airplane,Destroyed,No,Takeoff,"HEARNE, TX, United States",United States,Reciprocating,1982-01-02,Fatal(1),Accident,"HEARNE, TX",CESSNA R172K,1,Personal,1.0,0.0,0.0,0.0,IMC

## Data Modeling
Describe and justify the process for analyzing or modeling the data.

***
Questions to consider:
* How did you analyze or model the data?
* How did you iterate on your initial approach to make it better?
* Why are these choices appropriate given the data and the business problem?
***

In [ ]:
# Here you run your code to model the data

## Evaluation
Evaluate how well your work solves the stated business problem.

***
Questions to consider:
* How do you interpret the results?
* How well does your model fit your data? How much better is this than your baseline model?
* How confident are you that your results would generalize beyond the data you have?
* How confident are you that this model would benefit the business if put into use?
***

## Conclusions
Provide your conclusions about the work you've done, including any limitations or next steps.

***
Questions to consider:
* What would you recommend the business do as a result of this work?
* What are some reasons why your analysis might not fully solve the business problem?
* What else could you do in the future to improve this project?
***